@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --cor-primaria: #541161;
    --cor-secundaria: #02d8e9;
    --cor-terciaria: #ef3167;
    --cor-quaternaria: #00ff6b;
    --fundo-escuro: #0b0d17;
    --texto-claro: #ffffff;
    --hover-contorno: #ffffff;
    --fundo-cinza: #f0f0f0;
    --fundo-cinza-escuro: #1c1c1c;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-color: var(--fundo-escuro);
    color: var(--texto-claro);
    margin: 0;
    padding: 0;
}

nav {
    height: 6vh;
    background-image: linear-gradient(to bottom, rgba(84, 17, 97, 0.8), rgba(84, 17, 97, 0.4));
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

nav .top-links {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    height: 100%;
}

nav .logo {
    margin-left: 20px;
    align-self: center;
    font-size: 1.5rem;
}

.nav-right {
    display: flex;
    justify-content: flex-end;
    flex: 1;
}

nav .top-links a {
    color: var(--texto-claro);
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 100%;
    box-sizing: border-box;
    position: relative;
    border: 2px solid transparent;
    transition: background-color 0.3s, border 0.3s;
}

nav .top-links a:not(:first-child) {
    border-left: 2px solid rgba(255, 255, 255, 0.2);
}

nav .top-links a:first-child {
    border-left: 2px solid rgba(255, 255, 255, 0.2);
}

nav .top-links a:hover {
    background-color: var(--cor-terciaria);
    border: 2px solid var(--hover-contorno);
    transition: background-color 0.3s, border 0.3s;
}

.parallax {
    background-image: url('imagens/fotocapapronta.png');
    height: 94vh;
    background-attachment: fixed;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax-text {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    color: var(--texto-claro);
}

.parallax-text h1 {
    font-size: 2.5rem;
}

.parallax-text p {
    font-size: 1.2rem;
}

/* Estilo para a nova seção com fundo cinza */
.new-section {
    background-color: var(--fundo-cinza-escuro); /* Fundo cinza escuro */
    padding: 50px 20px; /* Ajuste de espaçamento */
    min-height: 400px; /* Define uma altura mínima para essa seção */
}

@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column;
        height: auto;
    }

    nav .top-links {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        width: 100%;
    }

    nav .top-links a,
    nav .top-links .logo {
        flex: 1 0 21%;
        box-sizing: border-box;
        margin: 5px;
    }

    nav a {
        padding: 10px;
        font-size: 1rem;
        text-align: center;
    }
}

@media only screen and (max-width: 480px) {
    nav {
        padding: 5px;
    }

    nav .top-links {
        flex-direction: column;
        justify-content: center;
    }

    nav a {
        font-size: 0.9rem;
        padding: 8px;
        flex: 1 0 auto;
    }
}

footer {
    background-image: linear-gradient(to bottom, rgba(84, 17, 97, 0.8), rgba(84, 17, 97, 0.4));
    padding: 10px 0;
    text-align: center;
}

.footer-links a {
    color: var(--texto-claro);
    margin: 0 10px;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 5px;
    border: 2px solid transparent;
    transition: background-color 0.3s, border 0.3s;
}

.footer-links a:hover {
    background-color: var(--cor-terciaria);
    border: 2px solid var(--hover-contorno);
    transition: background-color 0.3s, border 0.3s;
}

.footer-links img {
    width: 36px;
    height: 36px;
}