@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

/* Cores e variáveis */
:root {
    --cor-primaria: #541161; /* Um roxo vibrante */
    --cor-secundaria: #02d8e9; /* Um azul claro */
    --cor-terciaria: #ef3167; /* Rosa forte */
    --cor-quaternaria: #00ff6b; /* Verde neon */
    --fundo-escuro: #0b0d17; /* Fundo escuro */
    --fundo-gradiente: linear-gradient(
        135deg,
        #541161,
        #02d8e9,
        #ef3167,
        #00ff6b
    );
    --texto-claro: #ffffff;
}

/* Estilo geral */
body {
    font-family: 'Montserrat', sans-serif; /* Altera a fonte para Montserrat */
    background-color: var(--fundo-escuro);
    color: var(--texto-claro);
    margin: 0;
    padding: 0;
}

header {
    background-color: var(--fundo-escuro);
    padding: 20px;
    text-align: center;
}

header h1,
header h2 {
    color: var(--texto-claro);
}

nav {
    display: flex;
    flex-direction: row; /* Alinha os itens na horizontal para desktops */
    flex-wrap: nowrap; /* Não permite quebra de linha no desktop */
    padding: 10px; /* Ajusta o padding da nav */
    background-color: var(--cor-primaria);
    align-items: center; /* Centraliza verticalmente os itens na navbar */
    height: 60px; /* Altura fixa para a navbar */
}

nav .top-links {
    display: flex;
    justify-content: space-around; /* Espaço igual entre os itens */
    width: 100%; /* Faz com que os links ocupem toda a largura */
}

nav .social-links {
    display: flex;
    justify-content: center; /* Centraliza os ícones */
    margin-top: 10px; /* Espaço entre as linhas */
    width: 100%; /* Faz com que os ícones ocupem toda a largura */
}

nav a {
    color: var(--texto-claro);
    padding: 14px 20px;
    text-decoration: none;
    text-align: center;
    font-size: 1.1rem;
    flex: 1; /* Faz com que os itens ocupem espaço igual */
    min-width: 100px; /* Define uma largura mínima para evitar que quebrem em várias linhas */
}

nav a:hover {
    background-color: var(--cor-terciaria);
}

nav img {
    vertical-align: middle;
}

.container {
    padding: 20px;
}

/* Fundo em gradiente */
.section-gradiente {
    background: var(--fundo-gradiente);
    padding: 50px;
    border-radius: 15px;
    text-align: center;
}

/* Estilo das seções */
section h2 {
    color: var(--texto-claro);
    margin-bottom: 10px;
}

section p {
    font-size: 1.2rem;
    line-height: 1.6;
    color: var(--texto-claro);
}

/* Rodapé */
footer {
    background-color: var(--fundo-escuro);
    color: var(--texto-claro);
    text-align: center;
    padding: 20px;
    margin-top: 40px;
}

/* Media Queries para responsividade */
/* Ajustes para telas menores que 768px (tablets e smartphones) */
@media only screen and (max-width: 768px) {
    nav {
        flex-direction: column; /* Alinha os itens na vertical para mobile */
        padding: 10px; /* Ajusta o padding da nav */
        height: auto; /* Altura automática para mobile */
    }

    nav .top-links {
        display: flex;
        justify-content: space-between; /* Espaço entre os itens */
        width: 100%; /* Faz com que os links ocupem toda a largura */
    }

    nav .social-links {
        display: flex;
        justify-content: center; /* Centraliza os ícones */
        margin-top: 10px; /* Espaço entre as linhas */
    }

    nav a {
        padding: 10px;
        font-size: 1rem;
        flex: 1 0 auto; /* Permite que os itens se expandam e se ajustem */
        text-align: center; /* Centraliza o texto */
    }

    .container {
        padding: 10px;
    }

    header h1 {
        font-size: 1.8rem;
    }

    header h2 {
        font-size: 1.4rem;
    }

    section p {
        font-size: 1rem;
    }
}

/* Ajustes para telas menores que 480px (smartphones) */
@media only screen and (max-width: 480px) {
    nav {
        padding: 5px; /* Ajusta o padding da nav */
    }

    nav .top-links {
        display: flex;
        justify-content: space-between; /* Espaço entre os itens */
        width: 100%; /* Faz com que os links ocupem toda a largura */
    }

    nav .social-links {
        display: flex;
        justify-content: center; /* Centraliza os ícones */
        margin-top: 5px; /* Espaço entre as linhas */
    }

    nav a {
        font-size: 0.9rem;
        padding: 8px;
        flex: 1 0 auto; /* Permite que os itens se expandam e se ajustem */
    }

    .container {
        padding: 5px;
    }

    header h1 {
        font-size: 1.5rem;
    }

    header h2 {
        font-size: 1.2rem;
    }
}